extends ../layout/events

prepend vars
  - var event = 'Bash'
  - var eventShort = 'bash'

block heading
  p.aspect
    span Celebrate
  h1.big Bash
  p.date 24 August

block description
  p
    | Get turnt up and get ready to party! BASH marks the finale of Freshmen 
    | Orientation Projects where you get to spend the night celebrating and 
    | partying at a club with your new university friends, both Freshmen and 
    | Seniors alike. Enjoy the night as BASH candidates from FSC and FOW showcase 
    | their personalities and talents through exciting performances, along with 
    | music and games that are sure to keep you entertained through the night! 
    | Stand to walk away with exciting prizes in the lucky draw, as well as 
    | unforgettable memories of a night that is sure to be lit! Conclude your 
    | FOP with a blast as the new SoC King and Queen will be crowned at the end 
    | of BASH. Stick around for the afterparty as the real fun has only just 
    | begun! See you there!

block main
  .testimonial
    blockquote
      | I don’t like clubbing, really. But BASH? It’s a game changer. Have you 
      | ever walked into a club where everyone knows everyone? Yeah, me neither 
      | until BASH. The ambience was warm and comfortable; surrounded on all sides 
      | by friends, everybody was able to just be themselves, go all out and have 
      | fun! There were drinks, sick music, drinks, cool lights flashing around, 
      | more drinks. 11/10 would recommend and I’ll see you at 2018’s BASH!
      figcaption Nicklaus Ong, Year 1 Business Analytics Student

  section
    a.btn.btn-primary.btn-lg.read-more(href='#more-about-bash')
      | Click here to read more about Bash from your seniors!
  section.gallery
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/bash/BASH2.jpg' + ')' })
      .caption
        figcaption
          | Other than performing, our pageants will also go through a series of 
          | spontaneous Q&A and fun activities with our hosts for the night. Get to 
          | know more about the finalists while you party the night away! 
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/bash/BASH3.jpg' + ')'})
      .caption
        figcaption
          | Not only do freshmen attend BASH, seniors take this opportunity to 
          | reminisce their freshmen year and relive wonderful moments that they 
          | shared together! 
    figure
      div.img(style={'background-image': 'url(' + baseUrl + 'img/bash/BASH4.jpg' + ')'})
      .caption
        figcaption
          | At the end of BASH, we will crown Mr and Miss SoC with the help of 
          | our judges and the crowd’s votes.
    figure
      div.img(style={'background-image': 'url(' + baseUrl + 'img/bash/BASH5.jpg' + ')'})
      .caption
        figcaption
          | After the crowning of Mr and Miss SoC, the event will have officially 
          | ended. But that is not the end of the night - party away with your 
          | fellow coursemates and seniors at the after party!
    figure
      div.img(style={'background-image': 'url(' + baseUrl + 'img/bash/BASH6.jpg' + ')'})
      .caption.right#more-about-bash
        //
          This is a hack. Do not do this at home.
        figcaption
          | Watch as your friends showcase their personalities, talents, and wow the 
          | crowd through their unique performances in a night you won’t forget!

    section
      center
        h2
          | What your seniors have to say about Bash!
        table.testimonial-table
          tr
            td.testimonial-data
              | As a freshman, BASH was a great way to start off my uni life - music, 
              | dance, friends and fun!! It was also a great way to wrap up my orientation 
              | with fellow students of SoC as I got to see my friends having fun 
              | performing on stage! You'll FOMO if you miss it!
              p
                i Teh Wen Yi, Year 1 Computer Science Student
            td.testimonial-data
              | BASH was the ultimate finale before the official start of my academic 
              | journey in NUS School of Computing. It's the perfect opportunity to get 
              | together with all the friends I made during FSC and FOW, and to relive 
              | those moments in a night of dancing and partying. I will never forget 
              | seeing the fun side of everybody I knew, including the entertaining 
              | pageant performances. It's a night to be remembered, so get your tickets!
              p
                i Cheng Xian Hao, Year 1 Computer Engineering Student
          tr
            td.testimonial-data
              | I was very impressed by the high level performances from the contestants. 
              | I never knew they were so talented! Coupled with the company of my friends 
              | who were also supporting the event, we had a very fun and entertaining 
              | night. It was an eye-opener and I would totally encourage freshmen to go 
              | and support their friends participating in BASH because not only is it 
              | a good opportunity to bond with your orientation batchmates, you get to 
              | see things you never knew the contestants were capable of!
              p
                i Low Jun Wei, Year 1 Computer Engineering Student
            td.testimonial-data
              | As a freshman going for the camps, I felt like my orientation didn't have 
              | a proper ending. But that was only until BASH! Music, dance, performances, 
              | and just having a great time with friends! Felt like the best way to wrap 
              | up freshmen orientation. It is where all friendships made in camps solidify!
              p
                i Siew Qing Yuan, Year 1 Computer Science Student

    section.people
      h2 Proudly brought to you by these awesome people

      -var people = faces('img/bash/people', ['Director'])

      ul.faces.directors
        each person in people[0]
          li
            img(src=person.file, alt='')
            p.name= person.name
            p.job= person.job

      ul.faces.plebs
        each person in people[1]
          li
            img(src=person.file, alt='')
            p.name= person.name
            p.job= person.job

      include ../partials/credit
