extends ../layout/events

prepend vars
  - var event = 'Bash'
  - var eventShort = 'bash'

block heading
  p.aspect
    span Celebrate 
  h1.big Bash 
  p.date 18 August

block description
  p
    | The long awaited annual Bash is finally back! Enjoy a night of 
    | fun-filled performances by the pageant candidates and a last opportunity 
    | to mingle with your fellow seniors and future course mates. Join 
    | in on the fun and games, and party the night away with the 
    | newly crowned Mr and Ms SOC.

block main
  .testimonial
    blockquote
      | Bash was an interesting experience where I saw my friends go on stage to 
      | perform and vie for the position of Mr and Miss SoC. The after party was 
      | just as awesome, everyone danced all night in the club!
      | Bash is a definite must-go before the school semester starts.
    figcaption Victor Hazali, Year 4 CS student
  section
    a.btn.btn-primary.btn-lg.read-more(href='#more-about-bash')
      | Click here to read more about Bash from your seniors!
  section.gallery
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/bash/bash8.jpg' + ')' })
      .caption
        figcaption
          | Our very own in house DJ playing up the numbers for the house! 
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/bash/bash4.jpg' + ')'})
      .caption
        figcaption
          | Other than performing, our pageants will also go through a series of spontaneous 
          | Q&A and fun activities with our hosts for the night. Get to know more about the 
          | finalists while you party the night away!
    figure
      div.img(style={'background-image': 'url(' + baseUrl + 'img/bash/bash6.jpg' + ')'})
      .caption
        figcaption
          | At the end of Bash, we will crown Mr and Miss SoC with the help of our judges 
          | and the crowd’s votes. 
    figure
      div.img(style={'background-image': 'url(' + baseUrl + 'img/bash/bash7.jpg' + ')'})
      .caption.right#more-about-bash
        //
          This is a hack. Do not do this at home.
        figcaption
          | After the crowning of Mr and Miss SoC, the event will have officially ended. 
          | But that is not the end of the night - party away with your fellow 
          | coursemates and seniors at the after party!

    section
      center
        h2
          | What your seniors have to say about Bash!
        table.testimonial-table
          tr
            td.testimonial-data
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              p
                i Mysterious Senior A
            td.testimonial-data
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              p
                i Mysterious Senior B
          tr
            td.testimonial-data
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              p
                i Mysterious Senior C

    section.people
      h2 Proudly brought to you by
      //
        these awesome people

      center
        a(href='http://nuscomputing.com', target='_blank')
          img(src='img/ComputingClubLogo.png', alt='Computing Club', style="width: 75%;")

      //
        -var people = faces('img/bash/people', ['Director'])

        ul.faces.directors
          each person in people[0]
            li
              img(src=person.file, alt='')
              p.name= person.name
              p.job= person.job
        
        ul.faces.plebs
          each person in people[1]
            li
              img(src=person.file, alt='')
              p.name= person.name
              p.job= person.job

      include ../partials/credit
    

