
extends ../layout/events

prepend vars
  - var event = 'Credits'
  - var eventShort = 'credits'

block header

block main
  section.people
    h2 Freshmen Orientation Project 2016 is proudly brought to you by these awesome people
    
    -var people = faces('img/fop', ['Head'])
    
    ul.faces.directors
      each person in people[0]
        li
          img(src=person.file, alt='')
          p.name= person.name
          p.job= person.job
    
    ul.faces.plebs
      each person in people[1]
        li
          img(src=person.file, alt='')
          p.name= person.name
          p.job= person.job    

  section.people.event-fsc#fsc
    h2 Freshman Social Camp is proudly brought to you by these awesome people
    
    -var people = faces('img/fsc/people', ['Director', 'Head'])
      
    ul.faces.directors
      each person in people[0].concat(people[1])
        li
          img(src=person.file, alt='')
          p.name= person.name
          p.job= person.job
    
    ul.faces.plebs
      each person in people[2]
        li
          img(src=person.file, alt='')
          p.name= person.name
          p.job= person.job

  section.people.event-fow#fow
    h2 Freshman Orientation Week is proudly brought to you by these awesome people

    -var people = faces('img/fow/people', ['Director', 'Head'])

    ul.faces.directors
      each person in people[0]
        li
          img(src=person.file, alt='')
          p.name= person.name
          p.job= person.job

    ul.faces.plebs
      each person in people[1].concat(people[2])
        li
          img(src=person.file, alt='')
          p.name= person.name
          p.job= person.job

  section.people.event-rag#rag
    h2 RAG & FLAG is proudly brought to you by these awesome people

    -var people = faces('img/rag/people', ['Director'])
    ul.faces.directors
      each person in people[0]
        li
          img(src=person.file, alt='')
          p.name= person.name
          p.job= person.job
    
    ul.faces.plebs
      each person in people[1]
        li
          img(src=person.file, alt='')
          p.name= person.name
          p.job= person.job

  section.people.event-bash#bash
    h2 Bash is proudly brought to you by these awesome people

    -var people = faces('img/bash/people', ['Director'])

    ul.faces.directors
      each person in people[0]
        li
          img(src=person.file, alt='')
          p.name= person.name
          p.job= person.job
    
    ul.faces.plebs
      each person in people[1]
        li
          img(src=person.file, alt='')
          p.name= person.name
          p.job= person.job

    include ../partials/credit