extends ../layout/master
extends ../layout/events

prepend vars
  - var event = 'Credits'
  - var eventShort = 'credits'

block header

block main
  section.people
      h2 Proudly brought to you by these awesome people
      
      -var people = faces('img/fop', ['Head'])
      
      ul.faces.directors
        each person in people[0]
          li
            img(src=person.file, alt='')
            p.name= person.name
            p.job= person.job
      
      ul.faces.plebs
        each person in people[1]
          li
            img(src=person.file, alt='')
            p.name= person.name
            p.job= person.job    
      
      include ../partials/credit