extends ../layout/events

prepend vars
  - var event = 'FLAG';
  - var eventShort = 'flag'

block heading
  p.aspect
    span Volunteer
  h1.big
    | FLAG
  p.date 8 August

block description
  p
    | As part of NUSSU RAG & FLAG event, FLAG provides students with the 
    | opportunity to give back to society. Apart from FLAG day which is a 
    | one day activity for students to go to designated locations around 
    | Singapore for fundraising, Beneficiary Engagement Day (BEDs) are also 
    | organized for students to interact with our beneficiaries. All of the 
    | funds raised will go to our beneficiary – Fernvale Gardens School – 
    | to improve the student welfare and support their operations. We 
    | encourage you to join us as a volunteer to interact with our 
    | beneficiary, engage in fun-filled activities and have a good time 
    | with the students! This will make your FLAG day experience more 
    | meaningful knowing who you’re really flagging for! 

block main
  figure.testimonial
    blockquote
      | It had been quite some time since I’ve wanted to do something 
      | meaningful in my life. Thus, being involved with Movement for the 
      | Intellectually Disabled of Singapore (MINDS) during the Beneficiary 
      | Day 2017 gave me a great opportunity to help children who were not 
      | as fortunate as me. It warms my heart when I saw the intellectually 
      | disabled children smile and were having fun while enjoying the 
      | activities that we’ve prepared for them in school. This made me 
      | realized that genuinely spending time with them brings simple 
      | happiness to them. Nevertheless, I hope to continue to volunteer 
      | at MINDS for many semesters to come as it always feels good 
      | volunteering out of goodwill!
    figcaption Gervaise Ang, Year 1 Computer Engineering Student

  section
    a.btn.btn-primary.btn-lg.read-more(href='#more-about-flag')
      | Click here to read more about FLAG from your seniors!

  section.gallery
    figure
      div.img(style={'background-image': 'url(' + baseUrl + 'img/flag/FLAG2.jpg' + ')'})
      .caption.right
        figcaption
          | RAG & FLAG isn’t complete without our Flag component. This 
          | year, we will be planning a lineup of activities and games 
          | for our residents at Fernvale Gardens School. Join us in 
          | this meaningful day as we give back to the society. We will 
          | also be having a Flag day in August for you to do a little 
          | something for our beneficiary.
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/flag/FLAG3.jpg' + ')' })
      .caption
        figcaption
          | Beyond raising support for our beneficiaries, FLAG also presents 
          | us the opportunity to interact with the students of Fernvale Garden 
          | School. Come to give your time and attention to these students, and 
          | leave with your heart even fuller than before! 

    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/flag/FLAG4.jpg' + ')' })
      .caption.right
        figcaption
          | You get to enjoy the day with your friends, and at the same time, 
          | spreading love and care to the children. 

    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/flag/FLAG5.jpg' + ')'})
      .caption
        figcaption
          | This year, we have organised two Beneficiary Engagement Days, 
          | one after FSC and another before FOW. Join us in the 1st session 
          | as an OG to strengthen your budding friendships, or take this 
          | opportunity to know your OG mates before the actual FOW camp 
          | starts in the 2nd session! 

    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/flag/FLAG6.jpg' + ')' })
      .caption
        figcaption
          | The completed palm print rainbow and a final group shot to end 
          | the day! The mass palm print rainbow created with the students 
          | last year represents hope and love, the two values we hold for Flag! 

    figure
      div.img(style={'background-image': 'url(' + baseUrl + 'img/flag/FLAG7.jpg' + ')'})
      .caption#more-about-flag
        //
          This is a hack. Do not do this at home.
        figcaption
          | A final photo to wrap up the FLAG experience, but the memories 
          | live on. We invite you to join us on this meaningful journey in 
          | 2018! Hand in hand, let’s start by making a small difference in 
          | whatever ways we can, as one SoC. 

  section
      center
        h2
          | What your seniors have to say about FLAG!
        table.testimonial-table
          tr
            td.testimonial-data
              | BED was a meaningful experience and left me with deep memories 
              | while I embarked my new journey in NUS School of Computing, 
              | giving back to the society. After the first engagement, it was 
              | an eye opener for me to see how the caregivers and teachers 
              | catered to different children with different needs and adjust 
              | their attitude towards them accordingly. I must admit it was not
              | easy as I was not trained nor fully prepared to deal with 
              | situations where there’s a sudden mental breakdown which I 
              | experienced it in my first engagement. I felt regretful as I 
              | do not know what to do. Hence, I observed and learnt as much 
              | as I could from the teachers and make an improvement in myself 
              | to better cater to these children during my second engagement 
              | experience. Overall, BED gave me an insightful learning 
              | experience and things I never once knew about these children. 
              | I learnt so much about their needs and the difficulties in 
              | portraying their feelings up front as well as discovering the 
              | distinct talent in each child.
              p
                i Rachel Tan, Year 1 Computer Science Student
            td.testimonial-data
              | FLAG and the Beneficiary Engagement Day (BED) is an opportunity 
              | that you will have to raise funds for and interact with special 
              | needs children from Fernvale Gardens School. In BED, we were able 
              | to interact with them, understand them, feel for them. They were 
              | so happy to welcome us! Their cheery laughter was contagious, and 
              | it’s really the simple things that one remembers like the way they 
              | called us Kor Kor and Jie Jie as they invited us to play with them. 
              | And this was a timely reminder for us as we embarked on a new 
              | chapter in life. You have two hands; one is for helping yourself 
              | and the other is for helping others. 
              p
                i Nicklaus Ong, Year 1 Business Analytics Student
          tr
            td.testimonial-data
              | I am very thankful that BED was organized for us as it provided 
              | me with an opportunity to give back to the community. Spending time 
              | with the less privileged children made me realize the little things 
              | I often take for granted, which motivates me to make the best out of 
              | the short session I have with them by bringing joy to their lives. 
              | Upon interacting with these children, FLAG day became more meaningful 
              | for me because I know who I am flagging for and it encouraged me to 
              | do my best for these children. I am glad to know that SOC has 
              | organized this meaningful CIP activity and I do hope that SOC can 
              | organize more of such meaningful engagement sessions. 
              p
                i Koh Zhi Ming, Year 1 Information Systems Student
            td.testimonial-data
              | The Beneficiary Engagement Day (BED) is a great opportunity to 
              | contribute back to the community. As volunteers, we get to interact 
              | with these students and better understand them. Teachers from Fernvale 
              | Gardens School are extremely knowledgeable whenever us volunteers have 
              | doubts in approaching the students. Volunteering for BED reminds us of 
              | the things that we often take for granted for and allows us to 
              | appreciate the little things in life. 
              p
                i Nivian Lee, Year 2 Information Systems Student

  section.people
    h2 Proudly brought to you by these awesome people

    -var people = faces('img/flag/people', ['Director'])
    
    ul.faces.directors
      each person in people[0]
        li
          img(src=person.file, alt='')
          p.name= person.name
          p.job= person.job

    ul.faces.plebs
      each person in people[1]
        li
          img(src=person.file, alt='')
          p.name= person.name
          p.job= person.job

    include ../partials/credit
