extends ../layout/events

prepend vars
  - var event = 'Freshmen Orientation Week'
  - var eventShort = 'fow'

block heading
  p.aspect
    span Orientate
  h1 Freshmen Orientation Week
  p.date 28 to 31 July

block description
  p
    | Hey you! Are you a Freshman of Computing?
    br
    | We need your help!
    br
    | Darkness has taken over School of Computing.
    br
    | In order to take it back we are assembling a team.
    br
    | Forge camaraderie with your fellow teammates!
    br
    | Will you stand by and watch Computing fall?
    br
    | Or will you be the hero to save us all!

block main
  figure.testimonial
    blockquote
      | FOW really gave me the opportunity to overcome my shyness and make many
      | friends! I really had a blast bonding with my group through the many
      | activities planned in FOW. By the end of the camp, I had already found
      | people I know I can count on to make university life much more exciting!
      | This is a camp that freshmen shouldn't miss!
    figcaption Ysabella Tan, Year 1 Computer Science Student

    a.btn.btn-primary.btn-lg.read-more(href='#more-about-fow')
      | Read more about FOW from your seniors!
  section.gallery
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/fow/FOW2.jpg' + ')' })
      .caption
        figcaption
          | Be introduced to a myriad of station games that you can enjoy playing
          | with your OGs!
    figure
      div.img(style={'background-image': 'url(' + baseUrl + 'img/fow/FOW3.jpg' + ')'})
      .caption
        figcaption
          | Here’s a peek at our freshmen jumping in action in last year’s FOW -
          | our own edition of dog and bone! We will leave it to you to find out
          | what we have in store for you this year
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/fow/FOW4.jpg' + ')' })
      .caption
        figcaption
          | At FOW, freshmen will play fun games around the school to introduce
          | freshmen to the various facilities they can find outside of Computing.

    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/fow/FOW5.jpg' + ')' })
      .caption
        figcaption
          | Sports day at FOW consists of exciting Inter-Faculty Games (IFG) sports
          | led by our very own sports captains to encourage freshmen to represent
          | SoC for IFG!
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/fow/FOW6.jpg' + ')' })
      .caption.right
        figcaption
          | What is FOW without a beach day? The games have been carefully planned
          | to ensure that freshmen have a unique and enjoyable experience during
          | beach day!

    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/fow/FOW7.jpg' + ')'})
      .caption.right
        figcaption
          | A huge camp photo at Sentosa to mark the end of beach day!

    section.testimonial-more#more-about-fow
      h2
        | What your seniors have to say about FOW!

      .testimonial-table
        figure
          blockquote
            | FOW 2017 was a truly memorable experience for me. In the midst of all
            | the fun I had, I got to experience the school’s culture and cleared many
            | of my doubts that I had before I started school with the help of my
            | seniors. Most importantly, you get to make friends from your faculty,
            | which may become your classmates in the future. A popular camp with
            | limited slots, remember to sign up early to secure your placing for
            | the camp!
          figcaption
            | Cheng Jin Ting, Year 1 Computer Engineering Student

        figure
          blockquote
            | Going to FOW was one of the best decisions I made in my life here at
            | School of Computing because I got to interact and make friends with so
            | many people who would become my friends when the mugging gets rough!
            | 10/10 would recommend because you only get to be a freshman once! Opted
            | for the full freshman experience and I am incredibly glad I did!!!
          figcaption
            | Amanda Tan, Year 1 Business Analytics Student

        figure
          blockquote
            | No matter how busy you are, make time for FOW! The strongest bonds
            | are formed there as you will be grouped with others from your
            | respective courses. Through the games, late suppers and even later
            | HTHTs (Heart to heart talks), I really got to know my course mates
            | well and had lots of fun! Even now, we still meet often to study,
            | have meals together and hang out. Best camp ever!
          figcaption
            | Nicklaus Ong, Year 1 Business Analytics Student

        figure
          blockquote
            | FOW was an amazing experience that not only gave me the opportunity
            | to get to know fellow freshmen and seniors from the same course of study,
            | through fun and games, but it also allowed me to familiarize myself
            | with the faculty. Befriending seniors definitely helped me to prepare
            | well for the start of the freshmen year! FOW is a must-go!
          figcaption
            | Thaddeus Lim, Year 1 Computer Science Student

    section.people
      h2 Proudly brought to you by these awesome people

      -var people = faces('img/fow/people', ['Director', 'Head'])

      ul.faces.directors
        each person in people[0]
          li
            img(src=person.file, alt='')
            p.name= person.name
            p.job= person.job

      ul.faces.plebs
        each person in people[1].concat(people[2])
          li
            img(src=person.file, alt='')
            p.name= person.name
            p.job= person.job

      include ../partials/credit
