extends ../layout/events

prepend vars
  - var event = 'Freshman Orientation Week'
  - var eventShort = 'fow'

block heading
  p.aspect
    span Orientate
  h1 Freshmen Orientation Week
  p.date 3 to 6 August

block description
  p
  | Freshmen of Computing, heed the call,
  br
  | At Computing's orientation week, Olympus shall fall.
  br
  | Seniors and Strangers shall one meet,
  br
  | To make one's orientation journey truly complete.
  br
  | Fun and laughter shall spread like epidemic,
  br
  | Coupled with a light touch of academics.
  br
  | In 4D3N shall we instill the element of amity,
  br
  | To integrate everyone into the SoC family.

block main
  figure.testimonial
    blockquote
      | FOW to me was an unforgettable experience. You get to have fun, know the
      | school's culture a little more and most importantly, to make new friends!
      | FOW is no doubt a must-go camp for any freshman!
    figcaption Azhar, Year 1 Computer Science Student
  section
    a.btn.btn-primary.btn-lg.read-more(href='#more-about-fow')
      | Click here to read more about FOW from your seniors!
  section.gallery
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/fow/fow1.jpg' + ')' })
      .caption
        figcaption
          | Be introduced to our fun-loving OGLs at the start of the camp with a spectacular
          | walk-in performance. We have specially picked out the best OGLs that will give you
          | the most amazing camp experience, and also to provide you with advice regarding
          | your course requirements and modules planning!
    figure
      div.img(style={'background-image': 'url(' + baseUrl + 'img/fow/fow5.jpg' + ')'})
      .caption
        figcaption
          | Beach days at FOW are no ordinary beach days that you go for in all your other
          | camps. Our committee members work their very best to ensure that freshmen
          | get the most unique Beach day experience. Here’s a peek at what our freshmen
          | went through last year - a good ol’ game of Four Way Tug of War! We’ll leave
          | it to you to find out what we have in store for you this year
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/fow/fow2.jpg' + ')' })
      .caption
        figcaption
          | Besides being the best OGLs ever, they sometimes like to play a little makeover
          | game with sunblock too…

    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/fow/fow3.jpg' + ')' })
      .caption
        figcaption
          | If you haven’t gotten a chance to bury one of your friends in sand, our
          | beach day will be the perfect opportunity for you. Just kidding. Or are we?
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/fow/fow4.jpg' + ')' })
      .caption.right
        figcaption
          | Still not convinced that we have the best games ever?
          | Here’s a peek at our Sports Day last year, with a wet twist.

    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/fow/fow6.jpg' + ')'})
      .caption.right#more-about-fow
        //
          This is a hack. Do not do this at home.
        figcaption
          | A huge camp photo at Sentosa, with house flags painted by your very own OGLs!

    section
      center
        h2
          | What your seniors have to say about FOW!
        table.testimonial-table
          tr
            td.testimonial-data
              | I had a blast at FOW! It's a fantastic way to meet future course mates
              | and seniors, who to this day continue to help me with my studies. Not to
              | mention all the fun that I had was a great way to start my university life.
              | It is definitely an invaluable experience for any incoming freshmen.
              p
                i Zachary Tang, Year 1 Computer Science Student
            td.testimonial-data
              | FOW was amazing! It wasn't just fun and games as it helped me to kickstart
              | my university life surrounded by my course mates and seniors who are, till
              | this day, great friends that help one another in their studies. All in all,
              | it’s a great way to integrate into the university life and a valuable
              | experience that every freshman should enjoy.
              p
                i Royce, Year 1 Computer Engineering Student
          tr
            td.testimonial-data
              | During my freshman year, Freshmen Orientation Week allowed me to make
              | friends with other freshmen and seniors. This greatly benefited me when the
              | semester started, as we helped each other with our modules.
              p
                i Tzer Bin, Year 1 Computer Science Student
            td.testimonial-data
              | FOW splits the freshmen up into groups with the same major, so it was a
              | really great way to make friends that can become project group members in
              | the future or friends that just help each other out. Besides that, the camp
              | lets you know the school facilities better and you can ask your friendly
              | orientation leaders anything regarding school life. Anyway, it's a great
              | time and I highly recommend it!
              p
                i Natania, Year 1 Information Systems Student

    section.people
      h2 Proudly brought to you by these awesome people

      -var people = faces('img/fow/people', ['Director', 'Head'])

      ul.faces.directors
        each person in people[0]
          li
            img(src=person.file, alt='')
            p.name= person.name
            p.job= person.job

      ul.faces.plebs
        each person in people[1].concat(people[2])
          li
            img(src=person.file, alt='')
            p.name= person.name
            p.job= person.job

      include ../partials/credit
