extends ../layout/events

prepend vars
  - var event = 'Freshmen Social Camp'
  - var eventShort = 'fsc'

block heading
  p.aspect
    span Socialize
  h1 Freshmen Social Camp
  p.date 10 to 13 June


block description
  p
    | Haven't you heard? University life will be the best time of your life! 
    | So how best should you make your uni debut? Join our Freshmen Social Camp 
    | and make lots of new friends who will make preparing for university fun 
    | and exciting! Meet the most fun people to hang out with in school at FSC! 
    | Join us for Beach Day, Supper + HTHT Nights, The Great Escape, many many 
    | university-level games which ends off with a huge BANG at our finale night 
    | with music, friends and lots of fun! During this camp, close-knit bonds 
    | will be formed between you, your fellow freshmen and seniors! Either you 
    | come or you pass on this amazing opportunity! You choose!

block main
  figure.testimonial
    blockquote
      | I’m honestly very glad that I made the choice to sign up for FSC as 
      | it inserted great fun during the long break after A Levels and gave me 
      | the exposure to other FOP events such as RAG and BASH. More importantly, 
      | it was where I got to know many of my close friends in SoC, friends whom 
      | I study with, chill and sing endless karaoke with throughout the year. 😊
    figcaption Koh Wei Xin, Year 1 Computer Science Student

  section
    a.btn.btn-primary.btn-lg.read-more(href='#more-about-fsc')
      | Click here to read more about FSC from your seniors!

  section.gallery
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/fsc/FSC1.jpg' + ')' })
      div.caption
        figcaption
          | Freshmen preparing for a NERF challenge. Station games are not just boring 
          | old station games here at FSC. We have picked out the most fun games that we 
          | ourselves have played, so you can be sure that you will enjoy the games 
          | planned out for you. 

    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/fsc/FSC2.jpg' + ')' })
      div.caption.right
        figcaption
          | At FSC, freshmen will be introduced to our Rag and Flag family. If you 
          | don’t know what exactly we do at Rag or what this year’s theme is, be 
          | sure not to miss FSC! Our Rag family is extremely bonded and fun-loving; 
          | this will be a great step towards joining us in our amazing journey. 

    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/fsc/FSC3.jpg' + ')' })
      div.caption
        figcaption
          | We also have Sports Day that exposes freshmen to different sports, which they 
          | can represent SoC in NUS’ annual Inter-Faculty Games (IFG). 
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/fsc/FSC4.jpg' + ')' })
      div.caption
        figcaption
          | The most exciting day of our FSC is probably the Beach Day, on the third 
          | day of the camp. This year, we have gathered the most exciting beach games 
          | for you to have a little fun under the sun. Be sure to bring some sunblock 
          | to keep the rays out! 
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/fsc/FSC5.jpg' + ')' })
      div.caption.right
        figcaption
          | What’s a camp without cheering? Cheers help to form an identity to the group!
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/fsc/FSC6.jpg' + ')' })
      div.caption.right#more-about-fsc
        //
          This is a hack. Do not do this at home.
        figcaption
          | A huge camp photo at Sentosa, after a fun day of beach games! 

    section
      center
        h2
          | What your seniors have to say about FSC!
        table.testimonial-table
          tr
            td.testimonial-data
              | I unexpectedly found my life long friends in FSC. Throughout the camp, 
              | the games and nights were spent together helped us get closer to one 
              | another even though we had just met. Despite only knowing each other for 
              | the past few months, we have already gone on an overseas trip together 
              | as an orientation group. FSC is truly a place to find wonderful friends! 
              p
                i Risa Lim, Year 1 Business Analytics Student
            td.testimonial-data
              | There were no regrets joining FSC as it was the best way to begin the 
              | summer and kickstart university life. Through the camp, my orientation 
              | group became really bonded and they remain as one of my closest groups 
              | of friends. I also got to know seniors who provided valuable advice that 
              | helped me settle into the new environment quicker.
              p
                i Phua Yue Jun, Year 1 Computer Science Student
          tr
            td.testimonial-data
              | If I were given a chance to become a freshman again, I would definitely 
              | say yes! All thanks to my sweet FSC orientation group leaders who bonded 
              | us freshmen as one and making my fellow OG mates enjoy ourselves right 
              | before school started!! Nevertheless, making my freshman experience was 
              | a breathtaking and an unforgettable one!! 
              p
                i Gervaise Ang, Year 1 Computer Engineering Student
            td.testimonial-data
              | FSC is where all the fun people do fun stuff with other fun people. If 
              | I had known, I would have thought FSC stood for Fun Social Camp. It's 
              | basically games and fun all day, it'll feel like you're just partying 
              | it up but that's only if you're up for it. The bulk of your friendships 
              | you'll form is made through these camps. You'll sorely be missing out on 
              | all these great memories you could have made in FSC once you start 
              | university. Trust me you won't regret going FSC. I mean what harm could 
              | there be? Right? 
              p
                i Kevin Alvarez, Year 1 Computer Engineering Student

    section.people
      h2 Proudly brought to you by these awesome people

      -var people = faces('img/fsc/people', ['Director', 'Head'])

      ul.faces.directors
        each person in people[0]
          li
            img(src=person.file, alt='')
            p.name= person.name
            p.job= person.job

      ul.faces.plebs
        each person in people[1].concat(people[2])
          li
            img(src=person.file, alt='')
            p.name= person.name
            p.job= person.job

      include ../partials/credit
