extends ../layout/master

block vars
  - var title = 'Freshmen Orientation Project 2018 | NUS Computing';
  - var bodyClass = 'index';
  - var description = 'NUS School of Computing Freshmen Orientation Projects presents ad infinitum. Join us to experience a summer like never before!';

block header
  .hero
    .content
      h1
        | Sign ups are open now <br>
        | Join us for a summer of smiles
      .call
          a.btn.btn-primary.btn-lg(href='https://tiny.cc/FOP2018', target='_blank')
            | Sign up for FOP here
          a.btn.btn-primary.btn-lg(href='https://www.facebook.com/SoCFOP/', target='_blank')
            | Like us on Facebook
          a.btn.btn-primary.btn-lg(href='https://www.instagram.com/socfop/', target='_blank')
            | Follow us on Instagram
    .video-overlay(data-video=baseUrl + 'video/background.mp4')
      button(type='button').btn.btn-default
        i.fa.fa-pause
        | 
        span Pause

block main
  .block-text.intro
    p
      | Are you an incoming freshman who wants to find out more about the school?
      | Or do you simply want to make some friends and have fun?
    p
      | NUS Computing Freshmen Orientation Projects (FOP) 2018 presents to you: 
      strong ad infinitum
      | . With an exciting lineup of events, we will help you integrate into our
      | Computing family in no time. At FOP, not only do you get the opportunity to meet
      | other incoming freshmen, you will also meet seniors who can provide valuable advice
      | to follow you through your University years. Join us this summer for the best
      | freshmen experience you’ll ever have!

  section.projects

      a(href=url('fsc')).project.fsc
        p.aspect
          span Socialize
        h2 Freshmen Social Camp
        p.date 10 to 13 June
        .description
          p
            | Socialise in the summer holidays! Meet new friends from SoC
            | before University starts!

      a(href=url('fow')).project.fow
        p.aspect
          span Orientate
        h2 Freshmen Orientation Week
        p.date 28 to 31 July
        .description
          p
            | Orientate yourself! Get more familiar with the school
            | environment and find out more about school life!

      a(href=url('rag')).project.rag
        p.aspect
          span Bond
        h2 RAG
        p.date June to August
        .description
          p
            | Bond together as one SoC family! Construct magnificent
            | floats and dance together to show our SoC spirit!

      a(href=url('flag')).project.flag
        p.aspect
          span Volunteer
        h2 FLAG
        p.date 6 August
        .description
          p
            | Volunteer together as one SoC family! Raise funds and
            | nurture our SoC spirit of love and kindness!

      // .project-row
      a(href=url('bash')).project.bash
        p.aspect
          span Celebrate
        h2 Bash
        p.date 24 August
        .description
          p
            | Celebrate the end of Orientation with a blast! Join us
            | to crown the next Mr and Ms SoC!

  section.timeline-container
    .timeline
      header
        h2 Timeline of events (Updated 28 Feb 2018)

      h3 June

      ul
        li
          .tl-date 10 to 13
          .tl-desc Freshmen Social Camp (FSC)

        li
          .tl-date 18 to 19
          .tl-desc RAG Exposure Program (REP)

        li
          .tl-date 20
          .tl-desc RAG Commencement

        li
          .tl-date 29
          .tl-desc FOP Beneficiary Engagement I

        h3 July

        li
          .tl-date 10
          .tl-desc FOP Beneficiary Engagement II

        li
          .tl-date 26
          .tl-desc Academic Day

        li
          .tl-date 28 to 31
          .tl-desc Freshmen Orientation Week (FOW)

      h3 August

      ul
        li
          .tl-date 6
          .tl-desc FLAG Day

        li
          .tl-date 10
          .tl-desc Dean’s Welcome Tea

        li
          .tl-date 11
          .tl-desc RAG Day

        li
          .tl-date 24
          .tl-desc BASH

        h3 Academics

        p
          | For academic related events, please visit 
          a(href='http://www.comp.nus.edu.sg/programmes/ug/freshmen/', target='_blank') here.

  section.people
    h2 Proudly brought to you by

    center
      a(href='http://nuscomputing.com', target='_blank')
        img(src='img/ComputingClubLogo.png', alt='Computing Club', class='people-compclub')

    include ../partials/credit
