extends ../layout/events

prepend vars
  - var event = 'RAG';
  - var eventShort = 'rag'

block heading
  p.aspect
    span Bond
  h1.big
    | RAG
  p.date June to August

block description
  p
    | Receive-And-Give (RAG) is one of the biggest Freshmen Orientation Projects of SoC. 
    | RAG takes place between June to August in preparation for the annual RAG Day performance 
    | to show appreciation to our sponsors and public for their generous donations to various 
    | beneficiaries during Flag Day.

  p
    | There are three aspects of the performance: Float, Makeup and Costume, and Dance. No 
    | prior experience is required - You'll be learning from the best here in SoC RAG! All 
    | freshmen and seniors are encouraged to join SoC RAG to not only share their talents, 
    | but also to forge long-lasting friendships and create awesome memories.

  p
    | Together, let's carve another milestone for SoC RAG. Let's go Comp RAG!

block main
  figure.testimonial
    blockquote
      | RAG is one of those rare opportunities to make the kind of friends that stick together even after 
      | you graduate. If you're the type of person that secretly wants to participate then RAG is one of 
      | those openings in your Uni life that automatically pulls you into future student life activities. 
      | I really encourage all freshmen to give RAG a chance to brighten up your time in NUS. Some tips 
      | from a year 3 to a freshman, overnight ragging is your express pass to getting to know people 
      | from SoC (maybe you'll hear some juicy gossip too). From personal experience, I had a lot of fun 
      | doing RAG last year. It's the spontaneous suppers and the random singing and dancing sessions that 
      | happen in the dead of night that you remember from RAG. If you want an experience like that then 
      | just drop by the RAG site and ask "how can I help?" and you'll be swept away by the friendliness 
      | of SoC seniors. Hope you're as excited to join SoC as we are to see you!
    figcaption Dewi Tan, Year 3 Computer Science Student

  section
    a.btn.btn-primary.btn-lg.read-more(href='#more-about-rag')
      | Click here to read more about RAG from your seniors!

  section.gallery
    figure
      div.img(style={'background-image': 'url(' + baseUrl + 'img/rag/RAG2.jpg' + ')'})
      .caption.right
        figcaption
          | Have you ever dreamt of building something magnificent? Wait no more and join our float team
          | where you can make your dream come true! Here is a sneak peak of what our float team designed
          | and created last year!
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/rag/RAG3.jpg' + ')' })
      .caption
        figcaption
          | Here is a introductory session to makeup for participants at REP! Both seniors and freshmen 
          | had fun learning how to use the most basic materials to create designs. Join us at REP this year 
          | to find out what is in store for you!
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/rag/RAG4.jpg' + ')' })
      .caption.right
        figcaption
          | What is RAG without costumes? Costumes are handmade by our very own costumes team who come up 
          | with the creative design and add on beautiful details to the costumes.
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/rag/RAG5.jpg' + ')'})
      .caption
        figcaption
          | You do not need to have prior dance experience to be a dancer! We welcome anyone with the passion 
          | to dance where our patient and talented choreographers will introduce you to various genres in dance.

    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/rag/REP6.jpg' + ')' })
      .caption
        figcaption
          | Our freshmen preparing for the finale performance during REP. At REP, we have seniors to guide 
          | freshmen on the different aspects of RAG to put up their very own performance during our finale!

    figure
      div.img(style={'background-image': 'url(' + baseUrl + 'img/rag/RAG7.jpg' + ')'})
      .caption#more-about-rag
        //
          This is a hack. Do not do this at home.
        figcaption
          | Our last group photo to commemorate the end of a successful RAG, but the start of long lasting 
          | friendships made during the summer!

  section
      center
        h2
          | What your seniors have to say about RAG!
        table.testimonial-table
          tr
            td.testimonial-data
              | Every year's RAG has a different theme, but the idea behind it has always been to integrate 
              | the freshmen into the SoC family and promote the RAG & FLAG spirit among them. RAG 2017 took 
              | the same ideas and took it to new heights, introducing an all new REP program and a much better 
              | coordinated show. RAG 2017 was meaningful to me because it was my first RAG experience. RAG 
              | gives you an unique experience that is unlike other freshmen orientation projects. Across the 
              | timespan of 2 months, you will form stronger bonds and forge deeper friendships than you would 
              | at any other camp. Whether you are an incoming freshmen or a senior, there is definitely a place 
              | in RAG for you. You should not miss the chance to participate in such a meaningful event in your 
              | university life. Join RAG, make friends, leave a legacy behind.
              p
                i Ng Chee Siang, Year 2 Computer Science Student
            td.testimonial-data
              | RAG? Float, dance, makeup, costume? I couldn’t make sense of how all these could come together to 
              | form ‘RAG’. In retrospect, I’m delighted I took the leap of faith and joined RAG with my friends. 
              | Through RAG, I have forged friendships where we could all have fun and enjoy our time at SoC together. 
              | With very limited opportunities to mingle around and befriending people during school term, RAG serves 
              | as a great platform for an interactive and fulfilling experience. We shared memorable late-night 
              | sessions touching up on our costumes, slogging through countless rehearsals and trainings, and of 
              | course, having fun together. As dancers in RAG, we do not require any background in dance and most 
              | people partake RAG without prior dance experience. Learning something new together with friends was 
              | sure fun and memorable! I urge you guys to take the leap of faith, give SoC and yourself a chance 
              | to experience the epitome of fun before all hell breaks loose when school starts!
              p
                i Tan Zhe Hao, Year 1 Business Analytics Student
          tr
            td.testimonial-data
              | RAG has given me the opportunity to further friendships forged during FSC. In addition to picking 
              | up new interests such as dance, it also allowed me to get to know more students, both seniors and 
              | freshmen from School Of Computing and made my freshmen experience so much more vibrant and exciting. 
              | If you are looking for a fun start to your university life, join RAG and forge new friendships and 
              | create memories that will last!
              p
                i Thaddeus Lim Zhi Yu, Year 1 Computer Science student
            td.testimonial-data
              | As a freshman joining the RAG experience, it has definitely been an interesting and fulfilling journey 
              | for me. As I have always wanted to try out dance but never having the chance to take it up, I thought 
              | that RAG would be a great opportunity to try dancing. In the end, I have no regrets joining RAG as not 
              | only did I make new friends, be it freshmen or seniors, that made my time in school so much better, but 
              | I got to have a great freshman experience from practicing for our dance item to helping out behind the 
              | scenes with the floats. I am extremely thankful to be part of this journey and I would recommend any 
              | freshmen that I meet to join the RAG experience.
              p
                i Lim Kian Hong, Year 1 Information Security Student

  section.people
    h2 Proudly brought to you by these awesome people

    -var people = faces('img/rag/people', ['Director', "Creative"])

    ul.faces.directors
      each person in people[0]
        li
          img(src=person.file, alt='')
          p.name= person.name
          p.job= person.job

    ul.faces.plebs
      each person in people[1].concat(people[2])
        li
          img(src=person.file, alt='')
          p.name= person.name
          p.job= person.job

    include ../partials/credit
